<%- include("header") -%>

<h2>This is the about page</h2>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius impedit animi
    quisquam sequi autem! Officia blanditiis velit, explicabo ex vitae error
    dolorem accusamus, vel beatae unde voluptatibus impedit aut architecto! Sunt
    numquam saepe maxime tempore commodi explicabo, suscipit, consequuntur
    voluptatem non corporis quas fugiat amet quo voluptas aliquid sint rem.
</p>

<%- include("footer") -%>
